[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
redis = "*"
aioredis = "*"
psycopg2-binary = "*"
asyncpg = "*"
sqlalchemy = "*"
aiogram = "*"
celery = "*"
timezonefinder = "*"
alembic = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
